---
const { title } = Astro.props;
import "../styles/globals.css";
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/webp" href="/favicon.webp" sizes="64x64" />
        <link rel="icon" type="image/webp" href="/android-chrome.webp" sizes="192x192" />
        <link rel="apple-touch-icon" type="image/webp" href="/apple-touch-icon.webp" sizes="180x180" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Rem01Gaming is an seasoned mobile developer specializing in Android development."
        />
        <meta name="author" content="Rem01Gaming />
        <meta
            name="keywords"
            content="Rem01Gaming, Rem01, Mobile Developer, Mobile, Kotlin, Android Studio, web development, mobile development, Android development"
        />
        <meta
            property="og:title"
            content="Rem01Gaming - Mobile Developer"
        />
        <meta property="og:url" content="https://rem01gaming.dev/" />
        <meta property="og:image" content="/ogp.webp" />
        <meta
            property="og:description"
            content="Rem01Gaming is an seasoned mobile developer specializing in Android development."
        />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Rem01Gaming - Mobile Developer" />
        <meta property="og:locale" content="en_US" />
        <link rel="canonical" href="https://rem01gaming.dev/" />
        <title>{title}</title>
        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "ProfilePage",
              "dateCreated": "2024-10-20T00:00:00+07:00",
              "mainEntity": {
                "@type": "Person",
                "name": "Rem01Gaming",
                "description": "Mobile Developer",
                "image": "https://rem01gaming.dev/photo.webp",
                "sameAs": [
                  "https://www.youtube.com/@rem01gaming",
                  "https://www.tiktok.com/@Rem01Gaming",
                  "https://www.github.com/Rem01Gaming",
                  "https://www.t.me/rem01schannel"
                ]
              }
            }
        </script>
    </head>
    <body class="bg-light-fondo-primary dark:bg-dark-fondo-primary">
        <slot />
        <script>
            const darkThemeMq = window.matchMedia(
                "(prefers-color-scheme: dark)"
            );
            if (darkThemeMq.matches) {
                document.body.classList.add("dark");
                document.documentElement.classList.add("dark");
            } else {
                document.body.classList.remove("dark");
                document.documentElement.classList.remove("dark");
            }
        </script>
    </body>
</html>
